*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    color: #000;
    line-height: 1.6;
    font-size: 16px;
}

/* navigation bar */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    z-index: 1;
}
.logo{
    display: flex;
    font-size: 15px;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 42px;
    width: 41px;
    border-radius:15px;
    margin-left: 21px;
    overflow: hidden;
    z-index: 2;
}
.nav_items{
    display: flex;
    font-size: x-large;
    
}

.toggle-btn{
    background: url(Ellipse\ 23.png);
    /* width: 44px; */
    /* height: 44px; */
    cursor: pointer;
    font-size: 10px;
    margin-right: 23px;
    margin-top: 4px;
    margin-bottom: 5px;
    padding: 9px;
    border: none;
    outline: none;
    border-radius: 26px;
    overflow: hidden;

}
ul{
    list-style: none;
    align-items: center;
    justify-content: center;
    
    
}
li{
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    
}
 a{
    text-decoration: none;
    color: #000;
    padding: 10px;
}
a .toggle-btn{
    display: flex;
}
a:hover {
    color: #fff;
    background-color: #301E4E;
    border-radius:5px;
    transition: 0.3s ease;

}
.dropdown_menu{
    display: none;
    position: absolute;
    height: 100vh;
    top: 100%;
    right: 0;
    width: 45%;
    font-size: xx-large;
    background: linear-gradient(#ffffffe1,#301E4E ) 
    
}
.dropdown_menu.show {
    display: block;
}
.dropdown_menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 4rem 0;
}
.dropdown_menu li{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.dropdown_menu li:hover{
    background-color: #301E4E;
    color: #fff;
    border-radius:5px;
    transition: 0.3s ease;
}
.dropdown_menu li>a{
    width: 100%;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
}
.dropdown_menu li a:hover{
    color: #fff;
    background-color: #301e4e18;
    border-radius:5px;
    transition: 0.3s ease;
}
.book-audit{
    display: flex;
    padding: 20px 36px;
    align-items: flex-start;
    border: none;
    outline: none;
    border-radius: 12px;
    background: var(--secondary-main, #FF6E6C);
    gap: 10px;
}

.Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-main, #F7F7F7);
    width: 100%;
    overflow-x: hidden;
}
.bg-img{
    background-image: url(Frame\ 63.jpg);
    position:relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    align-items:center;
    display: inline-flex;
    
    
}
.box{
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 32px 26px 32px 32px;
    background: rgba(255, 255, 255, 0.44);

}
h1{
    font-family: Playfair Display;
    font-size: 99px;
    font-style: normal;
    font-weight: 689;
    line-height: normal;
    letter-spacing: -1.485px;
}
.purple-txt{
   color: var(--primary-main, #301E4E);
}
.pink-txt{
    color:var(--secondary-dark, #B7364A);
    
}
h3{
    color: var(--primary-main, #301E4E);
    font-family: Playfair Display;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box-2{
    margin-left: 45px;
}
.about>h5{
    color: var(--background-main-dark, #463366);
    font-family: Playfair Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.about>h1{
    color: var(--background-main-dark, #463366);
}
.about>h4{
    color: #494949;
    font-family: Source Sans Pro;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
    padding: 25px;
}
.book-audit-2{
    background: var(--primary-main, #301E4E);
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 20px;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-ryt{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:space-around;
    margin-right: 20px;
    color: var(--primary-main, #301E4E);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.31px;
    font-family: Playfair Display;
}
.view{
    background: var(--primary-main, #301E4E);
    border: none;
    outline: none;
    padding: 20px 36px;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    border-radius: 12px;
}
.about-lft{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    width: 700px;
    flex-shrink: 0;
    margin-top: 10px;
}
.svg-cont{
    position: absolute;
    top: 30%;
}

.svg-cont>h1{
    color: var(--primary-main, #301E4E);
    font-size: 99px;
    font-weight: 700;
    margin-left:45px;
    line-height: normal;
    letter-spacing: -1.485px;
    font-family: Playfair Display;
}
.svg-cont>h4{
    display: flex;
    justify-content: flex-start;
    color: var(--primary-darker, #0C0525);
    font-size: 35px;
    font-weight: 400;
    margin-left:45px;
    line-height: normal;
    letter-spacing: 0.088px;
    font-family: Source Sans Pro;
}
.work{
    width: 100% ;
    background: var(--primary-main, #301E4E);
    padding-bottom:15px;
}
.work-cont{
    color: var(--background-card-background-light, #E2DAEB);
    font-size: 99px;
    font-weight: 689;
    margin-left:30px;
    line-height: normal;
    letter-spacing: -1.485px;
    font-family: Playfair Display;
}
.view-2{
    background: var(--secondary-main, #FF6E6C);
    border: none;
    outline: none;
    border-radius: 12px;
    margin-left:35px;
    padding: 20px 36px;
    gap: 10px;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}
.Work-container{
    width: 98%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}
.starbucks{
    display: flex;
    flex-direction: column;
    gap: 1rem;   

}
.starbucks>img{
    width: 610px;
    height: 704px;
}
.starbucks>h3{
    color: var(--primary-lighter, #E7D7F6);
    font-family: Playfair Display;
    font-size: 49px;
    font-weight: 400;
    line-height: normal;  
}
.starbucks>h4{
    color: var(--text-color-dark-main, #FFF);
    font-family: Source Sans Pro;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
}
.nike{
    display: flex;
    flex-direction: column;
    gap: 10px;   

}
.nike>img{
    width: 600px;
    height: 478px;
}
.nike>h3{
    color: var(--primary-lighter, #E7D7F6);
    font-family: Playfair Display;
    font-size: 49px;
    font-weight: 400;
    line-height: normal;  
}
.nike>h4{
    color: var(--text-color-dark-main, #FFF);
    font-family: Source Sans Pro;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
}
#dg-mrk{
    color: var(--secondary-main, #FF6E6C);
    font-family: Source Sans Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
}

/* ........partners................... */
.partners{
    width:100% ;
}
.partners-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
   
}
.partners-cont{
    color: var(--background-card-background-light, #E2DAEB);
    font-size: 99px;
    font-style: normal;
    font-weight: 689;
    margin-left:30px;
    line-height: normal;
    letter-spacing: -1.485px;
    font-family: Playfair Display;
}
.partners-cont-1{
    color: var(--primary-main, #301E4E);
    font-family: Playfair Display;
    font-size: 99px;
    font-style: normal;
    font-weight: 689;
    line-height: normal;
    letter-spacing: -1.485px;
}
.partners-cont-2{
    color: var(--secondary-main, #FF6E6C);
    font-family: Source Sans Pro;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
}
.partners-img-1{
    display: flex;
    width: 100%;
    margin-top: 10vh;
    padding: 50px;
    justify-content: space-between;
    align-items: flex-start;
}
.partners-img-cont{
    color: var(--text-color-light-primary-text, #1F1235);
    text-align: center;
    font-family: Playfair Display;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
}
.partners-img-2{
    display: flex;
    width: 100%;
    margin-top: 10vh;
    padding: 50px;
    justify-content: space-between;
    align-items: flex-start;
}
.testimonials{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20vh 10px 72px 72px; 
    gap: 10vh;   
}
.testimonials-head{
    color: var(--primary-main, #301E4E);
    font-family: Playfair Display;
    font-size: 99px;
    font-style: normal;
    font-weight: 689;
    line-height: normal;
    letter-spacing: -1.485px;
}
.testimonials-box{
    margin:-4vh;
    padding: 6vh;
    border-style: ridge;
    border-color: #6000ff1a;
    border-radius: 24px;
}
.testimonials-cont{
    display: flex;
    align-items: flex-start;
    padding: 10vh;
    gap: 40px;
}
.testimonials-cont-1{
    color: var(--primary-main, #301E4E);
    font-family: Playfair Display;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.31px;
}
.testimonials-author{
    float: right; 
    width:30vh;
    margin:-10vh 10vh;
}
#line{
    background: #301E4E;
    height: 2px;
    width: 20vh;
    margin-left: 125vh;
}
.testimonials-cont-2{
    color: var(--primary-main, #301E4E);
    font-family: Playfair Display;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.testimonials-cont-3{
    color: var(--secondary-main, #FF6E6C);
    font-family: Playfair Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.testimonials-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;

}
.chat{
    background: var(--primary-main, #301E4E);
    display: flex;
    width: 100%;
    padding: 72px 10px 72px 72px;
    align-items: flex-start;
    gap: 10px;
}
.chat>h1{
    color: var(--primary-light, #A17FC9);
    font-family: Playfair Display;
    font-size: 99px;
    font-style: normal;
    font-weight: 689;
    line-height: normal;
    letter-spacing: -1.485px;    
}
#chat-link{
    color: var(--secondary-main, #FF6E6C);
    font-family: Playfair Display;
    font-size: 99px;
    font-style: normal;
    font-weight: 689;
    line-height: normal;
    letter-spacing: -1.485px;
    text-decoration-line: underline;
}
#chat-link:hover{
    color: var(--primary-main,#FFF);
}


/* .........................FOOTER..................................... */
.footer{
    background: var(--primary-main, #301E4E);
    display: flex;
    width: 100%;
    padding: 5rem;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-logo{
    color: #ffffff;
    font-family: Playfair Display;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
}
#footer-link{
    color: var(--text-color-dark-main, #FFF);
    font-family: Playfair Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.032px;
}
#footer-link:hover{
    color: var(--secondary-main, #FF6E6C);
}
.copyright{
    text-align: center;
    margin-top: 15px;
    color: var(--text-color-dark-main, #FFF);
    font-family: Source Sans Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.052px;
    
}
.footer-logo{
    padding: 3px 20px;
}

/* ........................................Media QUERy,........................... */

@media screen and (max-width:480px) {
   /* navigation bar */
   #link{
       display: none;
    }
    .dropdown_menu{
        width: 100%; 
    }
    /* media for back-image */
    .box{
        width: 80%;
        height: 60%;
        padding: 32px 26px 32px 20px;
    }
    .box>h1{
        font-size: 55px;
    }
    .box>h3{
        font-size: 25px;
    }
    /* box-2 */
    .box-2{
        margin-left: 10px;
    }
    .about>h5{
        font-size: 20px;
    }
    .about>h1{
        font-size: 50px;
    }
    .about>h4{
        font-size: 20px;
    }
    .book-audit-2{
        font-size: 15px;
    }
    /* media for svg */
    .svg-cont>h1{
        font-size:80px;
        margin-left:15px;
    }
    .svg-cont>h4{
        font-size: 25px;
        margin-left:15px;
    }
    .about-ryt{
        margin-right:0px;
        margin-left:25px;
        font-size: 30px;
    }
    .view{
        font-size: 15px;
        margin-right: 200px;
    }
    /* media for work */
    .work-cont{
        font-size: 60px;
        margin-left: 10px;
    }
    .starbucks>img{
        max-width: 350px;
        max-height: 400px;
    }
    .starbucks>h3{
        font-size: 25px;
    }
    .starbucks>h4{
        font-size: 15px;
    }
    .nike>img{
        width: 350px;
        height: 400px;
    }
    .nike>h3{
        font-size: 25px;
    }
    .nike>h4{
        font-size: 15px;
    }
    /* media for parterns */
    .partners-cont{
        font-size: 60px;
        margin-left: 10px;
        margin-top: 2rem;
    }
    .partners-cont-1{
        font-size: 60px;
    }
    .partners-cont-2{
        font-size: 25px;
    }
    .partners-img-1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .partners-img-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    /* media for .testimonials */
    .testimonials{
        margin: 5px;
        padding: 0px 20px 72px 20px; 
    }
    .testimonials-head{
        font-size: 55px;
    }
    .testimonials-box{
        margin: 0px;
        padding: 0px;
    }
    .testimonials-cont{
        display: flex;
        flex-direction: column;
        padding: 5vh;
        gap: 2rem;
    }
    .testimonials-cont>img{
        padding: 0px;
        width: 80px;
        height: 80px;
    }
    .testimonials-cont-1{
        font-size: 30px;
    }
    .testimonials-cont-2{
        font-size: 20px;
    }
    .testimonials-cont-3{
        font-size: 15px;
    }
    .testimonials-icon{
        margin-top: 10vh;
    }
    #line{
        width: 10vh;
        margin-left: 10vh;
        margin-bottom: 5vh;
    }
    
    /* media for chat */
    .chat{
        padding: 52px 10px 52px 10px;
    }
    .chat>h1{
        font-size: 39px;
    }
    #chat-link{
        font-size: 39px;
    }

    /* media for footer */
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem;
    }
    .footer-logo{
        margin-bottom: 1rem;
    }
    .footer-link > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
/* ........................................ */

@media (min-width:481px) and (max-width:768px){
    /* navigation bar */
    .dropdown_menu{
        width: 80%; 
    }
     /* media for back-image */
     .box{
        width: 60%;
        height: 70%;
        padding: 32px 40px 32px 20px;
    }
    .box>h1{
        font-size: 65px;
    }
    .box>h3{
        font-size: 30px;
    }
    /* box-2 */
    .box-2{
        margin-left: 30px;
    }
    .about>h5{
        font-size: 20px;
    }
    .about>h1{
        font-size: 50px;
    }
    .about>h4{
        font-size: 25px;
    }
    .book-audit-2{
        font-size: 15px;
    }
    /* media for work */
    .starbucks>img{
        max-width: 310px;
        max-height: 504px;
    }
    .starbucks>h3{
        font-size: 25px;
    }
    .starbucks>h4{
        font-size: 15px;
    }
    .nike>img{
        max-width: 310px;
        max-height: 400px;
    }
    .nike>h3{
        font-size: 25px;
    }
    .nike>h4{
        font-size: 15px;
    }
    /* media for parterns */
    .partners-cont{
        margin-left: 10px;
        margin-top: 2rem;
    }
    .partners-cont-1{
        font-size: 80px;
    }
    .partners-cont-2{
        font-size: 30px;
    }
    .partners-img-1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .partners-img-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    /* media for .testimonials */
    .testimonials{
        margin: 5px;
        padding: 0px 20px 72px 20px; 
    }
    .testimonials-head{
        font-size: 80px;
    }
    .testimonials-box{
        margin: 0px;
        padding: 0px;
    }
    .testimonials-cont{
        padding: 5vh;
    }
    .testimonials-cont>img{
        width: 100px;
        height: 100px;
    }
    .testimonials-cont-1{
        font-size: 40px;
    }
    .testimonials-cont-2{
        font-size: 30px;
    }
    .testimonials-cont-3{
        font-size: 20px;
    }
    .testimonials-icon{
        margin-top: 10vh;
    }
    #line{
        margin-left: 48vh;
        margin-bottom: 3vh;
    }
    /* media for chat */
    .chat{
        padding: 52px 10px 52px 52px;
    }
    .chat>h1{
        font-size: 49px;
    }
    #chat-link{
        font-size: 49px;
    }
    
    /* media for footer */
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .footer-logo{
        margin-bottom: 1rem;
    }
    .footer-link > ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

}
/* ............................................. */

@media (min-width:769px) and (max-width:1024px){
    /* navigation bar */
    .dropdown_menu{
        width: 70%; 
    }
    /* media for back-image */
    .box{
        width: 60%;
        height: 70%;
        padding: 32px 40px 32px 20px;
    }
    .box>h1{
        font-size: 65px;
    }
    .box>h3{
        font-size: 30px;
    }
    /* box-2 */
    .box-2{
        margin-left: 40px;
    }
    .about>h5{
        font-size: 25px;
    }
    .about>h1{
        font-size: 75px;
    }
    .about>h4{
        font-size: 30px;
    }
    .book-audit-2{
        font-size: 20px;
    }
    /* media for work */
    .starbucks>img{
        max-width: 450px;
        max-height: 504px;
    }
    .starbucks>h3{
        font-size: 25px;
    }
    .starbucks>h4{
        font-size: 15px;
    }
    .nike>img{
        width: 420px;
        height: 400px;
    }
    .nike>h3{
        font-size: 25px;
    }
    .nike>h4{
        font-size: 15px;
    }
    /* media for parterns */
    .partners-cont{
        font-size: 60px;
        margin-left: 10px;
        margin-top: 2rem;
    }
    .partners-cont-1{
        font-size: 85px;
    }
    .partners-cont-2{
        font-size: 35px;
    }
    .partners-images{
        grid-template-columns:1fr;
        grid-template-rows: auto;
    }
    .partners-img-1{
        padding: 0px ;
    }
    .partners-img-2{
        padding: 0px ;
    }
    /* media for .testimonials */
    .testimonials{
        margin: 5px;
        padding: 0px 20px 72px 20px; 
    }
    .testimonials-box{
        margin: 0px;
        padding: 0px;
    }
    .testimonials-cont{
        padding: 7vh;
    }
    .testimonials-cont-1{
        font-size: 60px;
    }
    .testimonials-cont-2{
        font-size: 40px;
    }
    .testimonials-cont-3{
        font-size: 20px;
    }
    .testimonials-icon{
        margin-top: 10vh;
    }
    #line{
        margin-left: 100vh;
        margin-bottom: 1vh;
    }

   
    /* media for chat */
    .chat>h1{
        font-size: 69px;
    }
    #chat-link{
        font-size: 69px;
    }
    /* media for footer */
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .footer-logo{
        margin-bottom: 1rem;
    }
    .footer-link > ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

}
/* .............................................. */

@media (min-width:1025px) and (max-width:1400px){
    /* media for back-image */
    .box{
        width: 60%;
        height: 70%;
        padding: 32px 40px 32px 20px;
    }
    .box>h1{
        font-size: 85px;
    }
    .box>h3{
        font-size: 35px;
    }
    /* media for partners */
    .partners-images{
        grid-template-columns:1fr;
        grid-template-rows: auto;
    }
    /* media for footer */
    .footer{
        align-items: center;
        justify-content: center;
        padding: 3rem;
    }
    .footer-logo{
        margin-bottom: 3rem; 
    }
    .footer-link > ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }

}